services:
  nakusp:
    image: golang:1.25.7-trixie
    working_dir: /app
    volumes:
      - "./:/app"
    networks:
      - nakusp-network
    depends_on:
      - redis
    command: ["sh", "-c", "go mod download && go test ./..."]
    stop_signal: SIGINT
    environment:
      REDIS_URI: "redis://redis:6379/0"
  redis:
    image: redis:8.4.0-alpine3.22
    restart: always
    networks:
      - nakusp-network
networks:
  nakusp-network:
    driver: bridge

